#community {
  margin: 50px auto;
}

#community h2 {
  color: #fdf000;
  font-size: 28px;
  padding-top: 50px;
  text-align: center;
}

#community .target {
  margin-bottom: -3px;
}

#community article {
  display: flex;
  color: white;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  flex-direction: column;
  background-color: #010508;
  justify-content: space-between;
}

#community p {
  line-height: 150%;
  text-align: justify;
}

#community li {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  #community h2 {
    padding-top: 0;
    font-size: 22px;
  }

  #community article {
    font-size: 16px;
  }

  #community p {
    width: 100%;
  }

  #community .perks {
    width: 100%;
    padding-left: 0;
  }
}
