#dashboard {
  margin: 0;
  color: white;
  text-align: center;
}

#dashboard #nav {
  padding: 5px 30px;
  background-color: #010508;
  box-shadow: 0 5px 5px #0000005b;
}

#dashboard #nav div {
  margin: auto;
  display: flex;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
}

#dashboard article.header,
#dashboard article.hero,
#dashboard article.groups,
#dashboard article.community,
#dashboard article.admin,
#dashboard article.tests,
#dashboard article.faqs {
  padding: 0 50px;
  text-align: left;
  max-width: 1000px;
  margin: 80px auto;
}

#dashboard form {
  margin: auto;
  display: flex;
  max-width: 500px;
  align-items: center;
  flex-direction: column;
}

#dashboard button {
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #fdf000;
}

#dashboard button:active {
  transform: scale(0.95);
}

#dashboard h2 {
  font-size: 26px;
  text-align: center;
}

#dashboard h2 .down {
  margin: 0 4px -4px 0;
}

#dashboard h3 {
  text-align: center;
}

#dashboard .icon {
  font-size: 18px;
  margin: 0 2px -4px 2px;
}

#dashboard input,
#dashboard textarea {
  width: 100%;
  border: none;
  min-width: 250px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#dashboard .header header {
  position: static;
  border-radius: 10px;
}

#dashboard .preview section,
#dashboard .preview section article {
  margin: 0;
}

#dashboard .preview section h2 {
  display: none;
}

#dashboard .btns {
  text-align: center;
}

#dashboard .btns button {
  margin: 15px 5px;
}

#dashboard .faqs .faq,
#dashboard .faqs form {
  max-width: 500px;
  overflow: hidden;
  margin: 15px auto;
  padding: 10px 20px;
  position: relative;
  border-radius: 10px;
  border: 2px solid white;
}

#dashboard .faqs form {
  padding: 20px 30px;
}

#dashboard .faqs .btns button {
  margin: 10px 5px 0 5px;
}

#dashboard button.edit,
#dashboard button.delt {
  top: 0;
  right: 0;
  position: absolute;
  padding: 5px 4px 5px 7px;
  border-radius: 0 0 0 10px;
  background-color: white;
}

#dashboard button.edit:active,
#dashboard button.delt:active {
  transform: none;
}

#dashboard .groups .group {
  display: flex;
  max-width: 520px;
  overflow: hidden;
  margin: 15px auto;
  position: relative;
  border-radius: 10px;
  align-items: center;
  border: 2px solid white;
}

#dashboard .groups .group img {
  width: 100px;
  height: 65px;
}

#dashboard .groups .group p {
  font-weight: bold;
  margin-left: 20px;
}

#dashboard .groups form {
  max-width: 460px;
  border-radius: 10px;
  padding: 20px 30px 0 30px;
  border: 2px solid white;
}

#dashboard button.add {
  margin: auto;
  display: block;
}

@media (max-width: 600px) {
  #dashboard #nav {
    padding: 5px 20px;
  }

  #dashboard article {
    margin: 50px;
  }

  #dashboard button {
    font-size: 14px;
    padding: 6px 8px;
  }

  #dashboard h2 {
    font-size: 18px;
  }

  #dashboard .header .preview nav {
    padding: 5px;
  }
}
