footer {
  color: white;
  text-align: center;
  padding-bottom: 20px;
  background-color: #010508;
}

footer div {
  margin: auto;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding: 20px 40px 20px 40px;
  justify-content: space-around;
}

footer img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

footer article {
  text-align: left;
}

footer button {
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fdf000;
}

footer button:active {
  transform: scale(0.95);
}

footer .icon {
  margin: 0 0 -2px 3px;
}
footer p {
  margin: 10px 0;
}

footer p:last-child {
  margin-bottom: 0;
}

footer a {
  color: #fdf000;
  text-decoration: none;
}

@media (max-width: 600px) {
  footer div {
    flex-direction: column;
    justify-content: center;
  }

  footer article {
    text-align: center;
  }

  footer button {
    font-size: 14px;
  }
}
