header {
  top: 0;
  z-index: 2;
  position: sticky;
  background-color: #010508;
}

header nav {
  margin: auto;
  display: flex;
  color: white;
  max-width: 1400px;
  padding: 5px 30px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 5px #0000005b;
}

header div {
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 26px;
}

header img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

header button {
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 10px;
  background-color: #fdf000;
}

header .icon {
  margin: 0 0 -3px 3px;
}

header button:active {
  transform: scale(0.95);
}

@media (max-width: 600px) {
  header {
    padding: 5px 10px;
  }

  header h1 {
    font-size: 20px;
  }

  header img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }

  header button {
    font-size: 14px;
    padding: 8px 10px;
  }
}
